.display-4 {
    font-weight: 900;
    font-family: cursive;
    color: rgb(17, 102, 10);
    text-decoration: underline;
}

.panel-heading {
    border-style: ridge;
    border-color: brown;    
}

.jumbotron { 
background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); 

}

.orderCol {
    box-shadow: rgba(0, 0, 0, 0.81) 10px 33px 74px 29px;
    background-color: rgb(237, 146, 27);
}

.burgList {
    color: white;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


